[submodule "dependencies/implot"]
	path = dependencies/implot
	url = git@github.com:The-Broker-App/implot.git
	branch = magia-main
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/The-Broker-App/imgui.git
	branch = magia-main
